body {
    text-align: center;
    margin-top: 50px;
    /* background-color: rgb(142, 138, 138); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://i.pinimg.com/736x/ac/54/a1/ac54a128942c750799c2c1fe144d2467.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

#todoInput{
    margin-right: 19%;
    height: 38px;
    width: 250px;
    font-size: 20px;

}

#displayBox {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
    background-color: rgb(192, 130, 249);
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;

    
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;

}

button {
    margin-left: 10px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
}
